
body, html{
	height: 100%;
	background-color: #ededed;
	color: #616161;
}
/* LOGIN */
.admin{
	background-color: #fff;
	padding: 20px;
	margin-top: 40px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
.login {
	background-color: #fff;
	padding: 40px;
	margin-top: 30%;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
/* UTILITARIOS */
.min-width{
	width: 100%!important;
}
.nopadding {
	padding:0!important;
	margin:0!important;
}
.nopadding a {
	text-decoration: none;
}
.margin-left{
	margin-left: 0;
	padding-left: 0;
}
.margin-right{
	margin-right: 0;
	padding-right: 0;
}
.margin-top-20{
	margin-top: 20px;
}

.btn-facebook{
	width: 100%;
}

/* BARRA LATERAL */
aside{
	padding-top: 20px;
	width: 100%;
	height: 800px;
	background-color: #0071bc;
}
aside img {
	padding-top: 20px;
}
aside ul {
	list-style: none;
	width: 100%;
}
.menu {
	min-height: 100px;
	text-align: center;
	padding-top: 22px;
	letter-spacing: 3px;
	color: #fff;
	opacity: 0.8;
}
.menu:hover {
	background-color: #0065a9;
	color: #8dc58e;
	border-left: 5px solid #8dc58e;
	transition: ease-out .3s;
}
.active{
	background-color: #0065a9;
	color: #8dc58e;
	border-left: 5px solid #8dc58e;
}
/* BARRA SUPERIOR */
header{
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
nav .navbar-nav li {
	padding-left: 10px;
}
/*  LINKS RAPIDOS  */
.box-link {
	margin-top: 20px;
	min-height: 100px;
	background-color: #fff;
	text-align: center;
	padding-top: 22px;
	letter-spacing: 3px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
.row a {
	text-decoration: none;
}
.icones-rapido {
	font-size: 30px !important;
}
.consultas{
	color: #8dc58e;
	border-left: 5px solid #8dc58e;
	
}
.consultas:hover{
	color: #fff;
	background-color: #8dc58e;
	transition: ease-out .3s;
}
.acompanhamentos{
	color: #0071bc;
	border-left: 5px solid #0071bc;
}
.acompanhamentos:hover{
	color: #fff;
	background-color: #0071bc;
	transition: ease-out .3s;
}
.agendamentos{
	color: #d15b5b;
	border-left: 5px solid #d15b5b;
}
.agendamentos:hover{
	color: #fff;
	background-color: #d15b5b;
	transition: ease-out .3s;
}
.informacoes{
	color: #c1a226;
	border-left: 5px solid #c1a226;
}
.informacoes:hover{
	color: #fff;
	background-color: #c1a226;
	transition: ease-out .3s;
}

/* CONTEUDO */
.titulo{
	letter-spacing: 5px;
	padding-bottom: 15px; 
}
.conteudo {
	width: 100%;
	min-height: 100px;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
	font-size: 14px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}

/* ACOMPANHAMENTOS */
.stepwizard-step p {
    margin-top: 10px; 
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button {
    font-size: 20px;
}

.stepwizard-row:before {
    top: 30px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

@media screen and (max-width: 958px) {
	.menu {
		min-height: 100px;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		color: #fff;
		opacity: 0.8;
		font-size: 12px;
	}
	.box-link {
		font-size: 12px;
		margin-top: 20px;
		min-height: 100px;
		background-color: #fff;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	}
}
@media screen and (max-width: 576px) {
	aside {
		height: 160px;
	}
	aside ul, .canais{
		display: none;
	}
	nav .navbar-nav {
		padding-left: 15%;
	}
	.menu {
		min-height: 100px;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		color: #fff;
		opacity: 0.8;
		font-size: 16px;
	}
	.box-link {
		font-size: 16px;
		margin-top: 20px;
		min-height: 100px;
		background-color: #fff;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	}
}
@media screen and (max-width: 1172px) {
	.menu {
		min-height: 100px;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		color: #fff;
		opacity: 0.8;
	}
	.box-link {
		margin-top: 20px;
		min-height: 100px;
		background-color: #fff;
		text-align: center;
		padding-top: 22px;
		letter-spacing: 0px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
		box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
	}
}