html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    min-height: 400px;
    width: 100%;
}



header{
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}

.reset{
    margin: 0;
    padding: 0;
}